---
title: Design Patterns
created: June 25th, 2021
updated:
description:
  This is an introduction to a series of posts on design patterns in software
  development - patterns in the creational, structural and behavioral
  categories. It's a way for me to help myself learn better by documenting it
  and to have a future reference in my own words. Each post will include
  explanations, analogies, and code examples using Javascript and Python.
tags: ['javascript']
categories: ['design patterns', 'oop']
---
<!-- 
- [Prototype](/blog/posts/patterns/creational/prototype)
- [Factory](/blog/posts/patterns/creational/factory)
- [Abstract Factory](/blog/posts/patterns/creational/abstract%20factory)
- [Builder](/blog/posts/patterns/creational/builder) -->


<!-- - [Adapter](/blog/posts/patterns/structural/adapter)
- [Proxy](/blog/posts/patterns/structural/proxy)
-->


<!-- - [Null Object](/blog/posts/patterns/behavioral/null%20object) -->

## Creational Design Patterns

- [Constructor](/blog/patterns/creational/constructor)
- [Module](/blog/patterns/creational/module)
- [Singleton](/blog/patterns/creational/singleton)
- [Prototype](/blog/patterns/creational/prototype)


<br/>

## Structural Design Patterns


<br/>

## Behavioral Design Patterns

