@import 'https://fonts.googleapis.com/css?family=Suez+One';
@media (forced-colors: active) {
	.theme-switcher {
		display: none !important;
	}
	[theme='null'] .btn-filled-primary {
		color: canvas !important;
	}
	.palettes {
		display: none !important;
	}
	.site-content-wrapper {
		background-color: activeText !important;
	}
	.swatches {
		forced-color-adjust: none;
	}
	.menu__links li a:before {
		background-color: linkText !important;
	}
	.profile-card__image {
		border-color: canvas !important;
		outline-width: 1px;
		outline-style: solid;
		outline-color: activeText;
	}
	.link:before {
		background-color: activeText !important;
	}
	.btn-filled-primary {
		forced-color-adjust: none;
		background-color: activeText !important;
		color: markText !important;
	}
	.what-i-do {
		text-decoration-color: activeText !important;
	}
	.site-content,
	.logo :not(.first-letter),
	.menu__links a,
	.profile-card__title,
	.profile-card__subtitle,
	.what-i-do,
	.skill-card__title,
	.skill-card__copy {
		color: markText;
	}
	.hamburger {
		stroke: markText;
	}
	.btn-outlined-primary {
		color: markText !important;
		outline-color: linkText !important;
	}
	[color-scheme='dark'] .site-content {
		-webkit-margin-before: var(--spacer-fluid-4-32) !important;
		margin-block-start: var(--spacer-fluid-4-32) !important;
	}
	[color-scheme='dark'] .logo :not(.first-letter) {
		outline-width: 0.01rem;
	}
	[color-scheme='dark'] .menu {
		border-color: activeText !important;
	}
	[color-scheme='dark'] .link,
	[color-scheme='dark'] .skill-card__title,
	[color-scheme='dark'] .skill-card__copy {
		color: canvasText;
	}
	[color-scheme='dark'] .btn-outlined-primary:is(:hover, :focus) {
		outline-color: canvasText;
	}
}
*,
:before,
:after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
}
:before,
:after {
	--tw-content: '';
}
html {
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Helvetica Neue, Arial, Noto Sans, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		Segoe UI Symbol, 'Noto Color Emoji';
	font-feature-settings: normal;
}
body {
	margin: 0;
	line-height: inherit;
}
hr {
	height: 0;
	color: inherit;
	border-top-width: 1px;
}
abbr:where([title]) {
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
a {
	color: inherit;
	text-decoration: inherit;
}
b,
strong {
	font-weight: bolder;
}
code,
kbd,
samp,
pre {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New,
		monospace;
	font-size: 1em;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
table {
	text-indent: 0;
	border-color: inherit;
	border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
}
button,
select {
	text-transform: none;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
	background-color: transparent;
	background-image: none;
}
:-moz-focusring {
	outline: auto;
}
:-moz-ui-invalid {
	box-shadow: none;
}
progress {
	vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}
[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
summary {
	display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
	margin: 0;
}
fieldset {
	margin: 0;
	padding: 0;
}
legend {
	padding: 0;
}
ol,
ul,
menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
	opacity: 1;
	color: #9ca3af;
}
button,
[role='button'] {
	cursor: pointer;
}
:disabled {
	cursor: default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
	vertical-align: middle;
}
img,
video {
	max-width: 100%;
	height: auto;
}
[hidden] {
	display: none;
}
:root {
	--grey-000: 255, 255, 255;
	--grey-025: 251, 252, 255;
	--grey-050: 239, 239, 239;
	--grey-100: 231, 231, 231;
	--grey-200: 186, 186, 186;
	--grey-300: 153, 153, 153;
	--grey-400: 119, 119, 119;
	--grey-500: 86, 86, 86;
	--grey-600: 53, 53, 53;
	--grey-700: 20, 20, 20;
	--grey-800: 10, 10, 10;
	--grey-900: 5, 5, 5;
	--grey-1000: 0, 0, 0;
	--spacer-fluid-0-32: clamp(0rem, calc(-0.86rem + 4.29vw), 2rem);
	--spacer-fluid-4-32: clamp(0.25rem, calc(-0.25rem + 2.5vw), 2rem);
	--spacer-fluid-4-48: clamp(0.5rem, calc(-0.07rem + 2.86vw), 3rem);
	--spacer-fluid-8-16: clamp(0.5rem, calc(0.36rem + 0.71vw), 1rem);
	--spacer-fluid-16-32: clamp(1rem, calc(0.71rem + 1.43vw), 2rem);
	--spacer-fluid-16-40: clamp(1rem, calc(0.57rem + 2.14vw), 2.5rem);
	--spacer-fluid-16-48: clamp(1rem, calc(0.43rem + 2.86vw), 3rem);
	--spacer-fluid-16-32-24x: clamp(16px, calc(-103.52px + 9.41vw), 32px);
	--spacer-fluid-88-132: clamp(5.5rem, calc(4.64rem + 4.29vw), 8.25rem);
	--spacer-fluid-16-32-2\.4x: clamp(12px, calc(-103.52px + 9.41vw), 32px);
	--padding-top-html: var(--spacer-fluid-4-32);
	--logoNotFirstL: var(--grey-900);
	--scale-hover: scale(1.03);
	--scale-active: scale(0.99);
}
@media (prefers-color-scheme: light) {
	:root {
		--i-will-leave-it-empty: 0;
	}
}
:root {
	--i-will-leave-it-empty: 0;
	color-scheme: light;
	--body-margin-top: clamp(0.25rem, calc(-0.39rem + 3.21vw), 2rem);
	--logo-remaining-letters-color: var(--grey-900);
	--nav-link-text-color: var(--grey-500);
	--text-color: var(--grey-900);
	--svg-background-color: 135, 206, 235;
	--svg-angle-day: 0deg;
	--svg-angle-night: 90deg;
	--svg-inset-light: 90;
	animation: sunRise 2s;
	--box-shadow-logo: 0.8px 0.8px 0.8px 0.8px rgba(204, 219, 232, 1),
		-0.8px -0.8px 0.8px 0.8px rgba(255, 255, 255, 1);
	--box-shadow-rest: 1px 1px 3px rgba(0, 0, 0, 0.12), 1px 1px 2px rgba(0, 0, 0, 0.24);
	--box-shadow-hover: 0px 14px 28px rgba(204, 219, 232, 1), 0px 10px 10px rgba(255, 255, 255, 1);
	--box-shadow-active: 1px 1px 3px rgba(0, 0, 0, 0.12), 1px 1px 2px rgba(0, 0, 0, 0.24);
}
@media (prefers-color-scheme: dark) {
	:root {
		--i-will-leave-it-empty: 0;
	}
}
[color-scheme='dark'] {
	color-scheme: dark;
	--high-emphasis-text-dark: 0.87;
	--medium-emphasis-text-dark: 0.6;
	--low-emphasis-text-dark: 0.45;
	--very-low-emphasis-text-dark: 0.38;
	--opacity-00-dark: 0%;
	--opacity-01-dark: 5%;
	--opacity-02-dark: 7%;
	--opacity-03-dark: 8%;
	--opacity-04-dark: 9%;
	--opacity-05-dark: 11%;
	--opacity-06-dark: 12%;
	--opacity-07-dark: 14%;
	--opacity-08-dark: 15%;
	--opacity-09-dark: 16%;
	--opacity-20-dark: 20%;
	--opacity-25-dark: 25%;
	--opacity-30-dark: 30%;
	--body-margin-top: clamp(0.5rem, calc(-0.07rem + 2.86vw), 3rem);
	--logo-remaining-letters-color: var(--grey-025), var(--high-emphasis-text-dark);
	--nav-link-text-color: var(--grey-000), var(--medium-emphasis-text-dark);
	--text-color: var(--grey-000);
	--svg-angle-day: -90deg;
	--svg-angle-night: 0deg;
	--svg-background-color: 00, 00, 00;
	animation: sunSet 2s;
	--box-shadow-logo: none;
	--box-shadow-rest: none;
	--box-shadow-hover: none;
	--box-shadow-active: none;
	--padding-top-html: var(--spacer-fluid-16-48) !important;
	--logoNotFirstL: var(--grey-025), var(--high-emphasis-text-dark) !important;
}
:root {
	--filled-bg: var(--primary);
	--outline-color: var(--secondary);
	--primary-color: var(--primary);
	--secondary-color: var(--secondary);
	--tertiary-color: var(--tertiary);
	--text-primary-color: var(--text-primary);
}
[data-themePalette='main'] {
	--primary: 96, 149, 245;
	--btn-bg: 251, 252, 253;
	--tertiary: var(--primary);
}
[color-scheme='light'][data-themePalette='main'] {
	--secondary: 251, 252, 253;
}
[color-scheme='dark'][data-themePalette='main'] {
	--secondary: 18, 18, 18;
}
[data-themePalette='desert'] {
	--primary: 4, 94, 129;
	--btn-bg: 255, 250, 235;
}
[color-scheme='light'][data-themePalette='desert'] {
	--secondary: 255, 250, 235;
	--tertiary: var(--primary);
}
[color-scheme='dark'][data-themePalette='desert'] {
	--secondary: 95, 56, 31;
	--tertiary: 255, 152, 0;
	--text-primary: var(--tertiary);
}
[data-themePalette='dusk'] {
	--primary: 56, 235, 244;
}
[color-scheme='light'][data-themePalette='dusk'] {
	--secondary: 188, 194, 194;
	--tertiary: var(--primary);
}
[color-scheme='dark'][data-themePalette='dusk'] {
	--secondary: 44, 50, 54;
	--tertiary: 29, 158, 0;
	--text-primary: var(--tertiary);
}
[data-themePalette='nightSky'] {
	--primary: 153, 128, 253;
}
[color-scheme='light'][data-themePalette='nightSky'] {
	--secondary: 188, 227, 250;
	--tertiary: var(--primary);
}
[color-scheme='dark'][data-themePalette='nightSky'] {
	--secondary: 0, 60, 106;
	--tertiary: 255, 242, 0;
	--text-primary: var(--tertiary);
}
@keyframes sunRise {
	40% {
		--svg-background-color: 230, 116, 81;
	}
	80% {
		--svg-background-color: 135, 206, 235;
	}
}
@keyframes sunSet {
	5% {
		--svg-background-color: 230, 116, 81;
	}
}
h1,
h2,
h3 {
	color: rgba(var(--text-color), var(--high-emphasis-text-dark, 1));
}
h1 {
	font-size: clamp(1.73rem, calc(1.38rem + 1.76vw), 2.96rem);
}
h2 {
	font-size: clamp(1.44rem, calc(1.22rem + 1.12vw), 2.22rem);
}
h3 {
	font-size: clamp(1.2rem, calc(1.07rem + 0.67vw), 1.67rem);
}
h4 {
	font-size: clamp(1rem, calc(0.93rem + 0.36vw), 1.25rem);
}
h5 {
	font-size: clamp(0.83rem, calc(0.8rem + 0.15vw), 0.94rem);
}
h6 {
	font-size: clamp(0.69rem, calc(0.69rem + 0.01vw), 0.7rem);
}
a {
	border-radius: 0.5rem;
	text-decoration-line: none;
	outline-width: 0.1rem;
	outline-color: transparent;
}
a:focus-visible,
button:focus-visible {
	outline-style: dashed;
}
a {
	outline-width: 0.1rem;
	outline-color: canvasText;
}
*,
:before,
:after {
	--tw-border-spacing-x: 0;
	--tw-border-spacing-y: 0;
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-pan-x: ;
	--tw-pan-y: ;
	--tw-pinch-zoom: ;
	--tw-scroll-snap-strictness: proximity;
	--tw-ordinal: ;
	--tw-slashed-zero: ;
	--tw-numeric-figure: ;
	--tw-numeric-spacing: ;
	--tw-numeric-fraction: ;
	--tw-ring-inset: ;
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgb(59 130 246 / 0.5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
	--tw-blur: ;
	--tw-brightness: ;
	--tw-contrast: ;
	--tw-grayscale: ;
	--tw-hue-rotate: ;
	--tw-invert: ;
	--tw-saturate: ;
	--tw-sepia: ;
	--tw-drop-shadow: ;
	--tw-backdrop-blur: ;
	--tw-backdrop-brightness: ;
	--tw-backdrop-contrast: ;
	--tw-backdrop-grayscale: ;
	--tw-backdrop-hue-rotate: ;
	--tw-backdrop-invert: ;
	--tw-backdrop-opacity: ;
	--tw-backdrop-saturate: ;
	--tw-backdrop-sepia: ;
}
::backdrop {
	--tw-border-spacing-x: 0;
	--tw-border-spacing-y: 0;
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-pan-x: ;
	--tw-pan-y: ;
	--tw-pinch-zoom: ;
	--tw-scroll-snap-strictness: proximity;
	--tw-ordinal: ;
	--tw-slashed-zero: ;
	--tw-numeric-figure: ;
	--tw-numeric-spacing: ;
	--tw-numeric-fraction: ;
	--tw-ring-inset: ;
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgb(59 130 246 / 0.5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
	--tw-blur: ;
	--tw-brightness: ;
	--tw-contrast: ;
	--tw-grayscale: ;
	--tw-hue-rotate: ;
	--tw-invert: ;
	--tw-saturate: ;
	--tw-sepia: ;
	--tw-drop-shadow: ;
	--tw-backdrop-blur: ;
	--tw-backdrop-brightness: ;
	--tw-backdrop-contrast: ;
	--tw-backdrop-grayscale: ;
	--tw-backdrop-hue-rotate: ;
	--tw-backdrop-invert: ;
	--tw-backdrop-opacity: ;
	--tw-backdrop-saturate: ;
	--tw-backdrop-sepia: ;
}
.btn {
	min-inline-size: 110px;
	white-space: nowrap;
	padding: clamp(0.5rem, calc(0.66rem - 0.18vw), 0.63rem) 1rem;
	text-align: center;
	color: rgba(var(--btn-text-color));
	--btn-bg-opacity: var(--opacity-06-dark, 1);
	background-color: rgba(var(--btn-bg), var(--btn-bg-opacity));
	box-shadow: var(--box-shadow-rest);
	transition: ease-in-out transform 0.15s;
	outline-width: 1px;
	outline-style: solid;
	outline-color: rgba(var(--outline-color));
}
.btn:is(:hover, :focus) {
	--btn-bg-opacity: var(--opacity-20-dark);
	box-shadow: var(--box-shadow-hover);
	transform: var(--scale-hover);
}
.btn:active {
	--btn-bg-opacity: var(--opacity-06-dark);
	box-shadow: var(--box-shadow-active);
	transform: var(--scale-active);
}
.btn-filled-primary {
	--btn-bg-opacity: 0.9;
	--btn-bg: var(--filled-bg);
	--btn-text-color: var(--primary-color-text);
	--outline-color: var(--primary-color);
}
.btn-filled-primary:is(:hover, :focus) {
	--btn-bg-opacity: 1;
}
.btn-filled-primary:active {
	--btn-bg-opacity: 0.9;
}
.btn-outlined-primary {
	--btn-text-color: var(--text-primary);
	--outline-color: var(--tertiary-color);
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.sticky {
	position: sticky;
}
.inset-x-menuInline {
	left: calc(clamp(1rem, calc(0.57rem + 2.14vw), 2.5rem) * -1);
	right: calc(clamp(1rem, calc(0.57rem + 2.14vw), 2.5rem) * -1);
}
.-left-\[1000px\] {
	left: -1000px;
}
.-left-\[31px\] {
	left: -31px;
}
.-top-\[13px\] {
	top: -13px;
}
.-top-\[18px\] {
	top: -18px;
}
.-top-\[35px\] {
	top: -35px;
}
.left-0 {
	left: 0px;
}
.left-0\.5 {
	left: 0.125rem;
}
.left-2 {
	left: 0.5rem;
}
.left-\[1px\] {
	left: 1px;
}
.left-\[clamp\(0\.06rem\,_calc\(0\.03rem_\+_0\.18vw\)\,_0\.17rem\)\] {
	left: clamp(0.06rem, calc(0.03rem + 0.18vw), 0.17rem);
}
.left-\[clamp\(0rem\,_calc\(0\.04rem_\+_0\.09vw\)\,_0\.1rem\)\] {
	left: clamp(0rem, calc(0.04rem + 0.09vw), 0.1rem);
}
.top-0 {
	top: 0px;
}
.top-2 {
	top: 0.5rem;
}
.top-\[18px\] {
	top: 18px;
}
.top-\[1px\] {
	top: 1px;
}
.top-\[clamp\(2\.19rem\,_calc\(2\.09rem_\+_0\.46vw\)\,_2\.5rem\)\] {
	top: clamp(2.19rem, calc(2.09rem + 0.46vw), 2.5rem);
}
.top-menuBlock {
	top: clamp(3rem, calc(1.96rem + 6vw), 4rem);
}
.-z-10 {
	z-index: -10;
}
.-z-20 {
	z-index: -20;
}
.z-10 {
	z-index: 10;
}
.z-20 {
	z-index: 20;
}
.mb-0 {
	margin-bottom: 0;
}
.mb-32 {
	margin-bottom: 8rem;
}
.mb-8-16 {
	margin-bottom: var(--spacer-fluid-8-16);
}
.mb-88-132 {
	margin-bottom: var(--spacer-fluid-88-132);
}
.mb-\[clamp\(1\.5rem\,_calc\(0\.93rem_\+_2\.86vw\)\,_2\.5rem\)\] {
	margin-bottom: clamp(1.5rem, calc(0.93rem + 2.86vw), 2.5rem);
}
.ml-\[0\.1rem\] {
	margin-left: 0.1rem;
}
.mr-\[1px\] {
	margin-right: 1px;
}
.mt-2 {
	margin-top: 0.5rem;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.flex {
	display: flex;
}
.contents {
	display: contents;
}
.hidden {
	display: none;
}
.h-5 {
	height: 1.25rem;
}
.h-\[clamp\(9\.38rem\,_calc\(6\.34rem_\+_15\.18vw\)\,_20rem\)\] {
	height: clamp(9.38rem, calc(6.34rem + 15.18vw), 20rem);
}
.w-5 {
	width: 1.25rem;
}
.w-\[clamp\(9\.375rem\,_calc\(6\.34rem_\+_15\.18vw\)\,_20rem\)\] {
	width: clamp(9.375rem, calc(6.34rem + 15.18vw), 20rem);
}
.w-full {
	width: 100%;
}
.max-w-\[60ch\] {
	max-width: 60ch;
}
.flex-auto {
	flex: 1 1 auto;
}
.flex-shrink-0 {
	flex-shrink: 0;
}
.flex-grow {
	flex-grow: 1;
}
.basis-\[30ch\] {
	flex-basis: 30ch;
}
.origin-\[50\%_100px\] {
	transform-origin: 50% 100px;
}
.-translate-y-5 {
	--tw-translate-y: -1.25rem;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
		skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
		scaleY(var(--tw-scale-y));
}
.rotate-\[20deg\] {
	--tw-rotate: 20deg;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
		skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
		scaleY(var(--tw-scale-y));
}
.scale-\[2\] {
	--tw-scale-x: 2;
	--tw-scale-y: 2;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
		skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
		scaleY(var(--tw-scale-y));
}
.transform {
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
		skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
		scaleY(var(--tw-scale-y));
}
.cursor-default {
	cursor: default;
}
.cursor-pointer {
	cursor: pointer;
}
.appearance-none {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.flex-col {
	flex-direction: column;
}
.flex-wrap {
	flex-wrap: wrap;
}
.items-end {
	align-items: flex-end;
}
.items-center {
	align-items: center;
}
.justify-end {
	justify-content: flex-end;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.gap-16-32 {
	gap: var(--spacer-fluid-16-32);
}
.gap-16-32-24x {
	gap: var(--spacer-fluid-16-32-2\.4x);
}
.gap-16-40 {
	gap: var(--spacer-fluid-16-40);
}
.gap-2 {
	gap: 0.5rem;
}
.gap-4 {
	gap: 1rem;
}
.gap-y-4 {
	row-gap: 1rem;
}
.overflow-hidden {
	overflow: hidden;
}
.rounded {
	border-radius: 0.25rem;
}
.rounded-2xl {
	border-radius: 1rem;
}
.rounded-full {
	border-radius: 9999px;
}
.rounded-md {
	border-radius: 0.375rem;
}
.rounded-sm {
	border-radius: 0.125rem;
}
.border-\[clamp\(0\.5rem\,_calc\(0\.43rem_\+_0\.36vw\)\,_0\.75rem\)\] {
	border-width: clamp(0.5rem, calc(0.43rem + 0.36vw), 0.75rem);
}
.border-b {
	border-bottom-width: 1px;
}
.border-solid {
	border-style: solid;
}
.border-primaryColor {
	border-color: rgba(var(--primary-color));
}
.border-transparent {
	border-color: transparent;
}
.bg-\[canvas\] {
	background-color: canvas;
}
.bg-\[rgba\(var\(--dusk-palette-color\)\)\] {
	background-color: rgba(var(--dusk-palette-color));
}
.bg-\[rgba\(var\(--nightSky-palette-color\)\)\] {
	background-color: rgba(var(--nightSky-palette-color));
}
.bg-colorSchemeToggle {
	background-color: rgba(var(--svg-background-color));
}
.bg-grey-1\/6 {
	background-color: rgba(var(--grey-000), var(--opacity-06-dark));
}
.bg-primaryColor {
	background-color: rgba(var(--primary-color));
}
.bg-red-700 {
	--tw-bg-opacity: 1;
	background-color: rgb(185 28 28 / var(--tw-bg-opacity));
}
.bg-secondaryColor {
	background-color: rgba(var(--secondary-color));
}
.bg-slate-600 {
	--tw-bg-opacity: 1;
	background-color: rgb(71 85 105 / var(--tw-bg-opacity));
}
.bg-transparent {
	background-color: transparent;
}
.fill-tertiaryColor {
	fill: rgba(var(--tertiary-color));
}
.p-16-40 {
	padding: var(--spacer-fluid-16-40);
}
.p-4 {
	padding: 1rem;
}
.p-4-32 {
	padding: var(--spacer-fluid-4-32);
}
.px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}
.px-\[0\.05rem\] {
	padding-left: 0.05rem;
	padding-right: 0.05rem;
}
.py-2 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.pb-1 {
	padding-bottom: 0.25rem;
}
.pb-3 {
	padding-bottom: 0.75rem;
}
.pl-3 {
	padding-left: 0.75rem;
}
.pt-10 {
	padding-top: 2.5rem;
}
.pt-6 {
	padding-top: 1.5rem;
}
.pt-dynamic {
	padding-top: var(--padding-top-html);
}
.font-body {
	font-family: Times New Roman, Times, serif;
}
.font-logoFirstL {
	font-family: Suez one, Georgia, Times New Roman, Times, serif;
}
.font-logoNotFirstL {
	font-family: Suez one, system-ui, Arial, sans-serif;
}
.text-3xl {
	font-size: 1.875rem;
	line-height: 2.25rem;
}
.text-6xl {
	font-size: 3.75rem;
	line-height: 1;
}
.text-fluid-4 {
	font-size: clamp(1rem, calc(0.93rem + 0.36vw), 1.25rem);
}
.text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}
.text-logoFirstL {
	font-size: clamp(24px, calc(17.12px + 2.14vw), 3rem);
}
.text-logoNotFirstL {
	font-size: clamp(1.375rem, calc(0.75rem + 1.94vw), 2.25rem);
}
.font-bold {
	font-weight: 700;
}
.font-medium {
	font-weight: 500;
}
.font-normal {
	font-weight: 400;
}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
.leading-logoFirstL {
	line-height: clamp(48px, calc(31.36px + 5.22vw), 96px);
}
.leading-logoNotFistL {
	line-height: clamp(1.5rem, calc(0.98rem + 2.61vw), 3rem);
}
.tracking-\[clamp\(0\.15rem\,_calc\(-0\.07rem_\+_0\.36vw\)\,_0\.5rem\)\] {
	letter-spacing: clamp(0.15rem, calc(-0.07rem + 0.36vw), 0.5rem);
}
.text-grey-900 {
	--tw-text-opacity: 1;
	color: rgba(var(--grey-900), var(--tw-text-opacity));
}
.text-logoFirstLClr {
	color: rgba(var(--primary-color));
}
.text-logoNotFirstLClr {
	color: rgba(var(--logoNotFirstL));
}
.text-muted {
	color: rgba(var(--text-color), var(--low-emphasis-text-dark, 0.6));
}
.text-primaryColor {
	color: rgba(var(--primary-color));
}
.text-white {
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
}
.underline {
	text-decoration-line: underline;
}
.decoration-tertiaryColor {
	text-decoration-color: rgba(var(--tertiary-color));
}
.decoration-double {
	text-decoration-style: double;
}
.shadow-logo {
	--tw-shadow: var(--box-shadow-logo);
	--tw-shadow-colored: var(--box-shadow-logo);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
		var(--tw-shadow);
}
.shadow-rest {
	--tw-shadow: var(--box-shadow-rest);
	--tw-shadow-colored: var(--box-shadow-rest);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
		var(--tw-shadow);
}
.outline-none {
	outline: 2px solid transparent;
	outline-offset: 2px;
}
.outline {
	outline-style: solid;
}
.outline-2 {
	outline-width: 2px;
}
.outline-\[0\.1px\] {
	outline-width: 0.1px;
}
.outline-\[canvasText\] {
	outline-color: canvasText;
}
.outline-primaryColor {
	outline-color: rgba(var(--primary-color));
}
.outline-slate-500 {
	outline-color: #64748b;
}
.transition-\[background-color\] {
	transition-property: background-color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
}
.transition-\[flex-grow\] {
	transition-property: flex-grow;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
}
.transition-\[inset\] {
	transition-property: inset;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
}
.transition-\[padding-top\] {
	transition-property: padding-top;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
}
.transition-transform {
	transition-property: transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
}
.delay-1000 {
	transition-delay: 1s;
}
.delay-\[0\] {
	transition-delay: 0;
}
.delay-\[0ms\] {
	transition-delay: 0ms;
}
.delay-\[0s\] {
	transition-delay: 0s;
}
.duration-1000 {
	transition-duration: 1s;
}
.duration-1400 {
	transition-duration: 1.4s;
}
.duration-\[0\.15s\] {
	transition-duration: 0.15s;
}
.duration-\[250ms\] {
	transition-duration: 0.25s;
}
.duration-\[2s\] {
	transition-duration: 2s;
}
.duration-\[4s\] {
	transition-duration: 4s;
}
.ease-in-out {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.selection\:bg-green-700 *::-moz-selection {
	--tw-bg-opacity: 1;
	background-color: rgb(21 128 61 / var(--tw-bg-opacity));
}
.selection\:bg-green-700 *::selection {
	--tw-bg-opacity: 1;
	background-color: rgb(21 128 61 / var(--tw-bg-opacity));
}
.selection\:bg-green-700::-moz-selection {
	--tw-bg-opacity: 1;
	background-color: rgb(21 128 61 / var(--tw-bg-opacity));
}
.selection\:bg-green-700::selection {
	--tw-bg-opacity: 1;
	background-color: rgb(21 128 61 / var(--tw-bg-opacity));
}
.before\:absolute:before {
	content: var(--tw-content);
	position: absolute;
}
.before\:bottom-0:before {
	content: var(--tw-content);
	bottom: 0px;
}
.before\:left-\[50\%\]:before {
	content: var(--tw-content);
	left: 50%;
}
.before\:h-0:before {
	content: var(--tw-content);
	height: 0px;
}
.before\:h-0\.5:before {
	content: var(--tw-content);
	height: 0.125rem;
}
.before\:w-0:before {
	content: var(--tw-content);
	width: 0px;
}
.before\:w-full:before {
	content: var(--tw-content);
	width: 100%;
}
.before\:bg-primaryColor:before {
	content: var(--tw-content);
	background-color: rgba(var(--primary-color));
}
.before\:transition-\[h\]:before {
	content: var(--tw-content);
	transition-property: h;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
}
.before\:delay-\[0s\]:before {
	content: var(--tw-content);
	transition-delay: 0s;
}
.before\:duration-200:before {
	content: var(--tw-content);
	transition-duration: 0.2s;
}
.before\:duration-300:before {
	content: var(--tw-content);
	transition-duration: 0.3s;
}
.before\:content-\[\'\'\]:before {
	--tw-content: '';
	content: var(--tw-content);
}
.hover\:scale-\[1\.01\]:hover {
	--tw-scale-x: 1.01;
	--tw-scale-y: 1.01;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
		skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
		scaleY(var(--tw-scale-y));
}
.hover\:cursor-pointer:hover {
	cursor: pointer;
}
.hover\:bg-grey-1\/20:hover {
	background-color: rgba(var(--grey-000), var(--opacity-20-dark));
}
.hover\:text-\[markText\]:hover {
	color: markText;
}
.hover\:shadow-hover:hover {
	--tw-shadow: var(--box-shadow-hover);
	--tw-shadow-colored: var(--box-shadow-hover);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
		var(--tw-shadow);
}
.hover\:outline:hover {
	outline-style: solid;
}
.hover\:outline-\[canvasText\]:hover {
	outline-color: canvasText;
}
.hover\:before\:left-0:hover:before {
	content: var(--tw-content);
	left: 0px;
}
.hover\:before\:-z-10:hover:before {
	content: var(--tw-content);
	z-index: -10;
}
.hover\:before\:h-full:hover:before {
	content: var(--tw-content);
	height: 100%;
}
.hover\:before\:w-full:hover:before {
	content: var(--tw-content);
	width: 100%;
}
.hover\:before\:bg-primaryColor:hover:before {
	content: var(--tw-content);
	background-color: rgba(var(--primary-color));
}
.focus\:text-\[markText\]:focus {
	color: markText;
}
.focus\:outline:focus {
	outline-style: solid;
}
.focus\:outline-\[canvasText\]:focus {
	outline-color: canvasText;
}
.focus\:before\:left-0:focus:before {
	content: var(--tw-content);
	left: 0px;
}
.focus\:before\:w-full:focus:before {
	content: var(--tw-content);
	width: 100%;
}
.focus-visible\:left-16:focus-visible {
	left: 4rem;
}
.focus-visible\:outline-dashed:focus-visible {
	outline-style: dashed;
}
.active\:scale-active:active {
	--tw-scale-x: var(--scale-active);
	--tw-scale-y: var(--scale-active);
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
		skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
		scaleY(var(--tw-scale-y));
}
.active\:bg-grey-1\/6:active {
	background-color: rgba(var(--grey-000), var(--opacity-06-dark));
}
.active\:shadow-active:active {
	--tw-shadow: var(--box-shadow-active);
	--tw-shadow-colored: var(--box-shadow-active);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
		var(--tw-shadow);
}
.group[data-themepalette='main'] .group-data-\[themepalette\=main\]\:fill-current {
	fill: currentColor;
}
.group[data-themePalette='main'] .group-data-\[themePalette\=main\]\:text-\[canvasText\] {
	color: canvasText;
}
.group[data-themepalette='main'] .group-data-\[themepalette\=main\]\:outline-none {
	outline: 2px solid transparent;
	outline-offset: 2px;
}
[color-scheme='dark'] .dark\:border-slate-50\/6 {
	border-color: rgb(248 250 252 / var(--opacity-06-dark));
}
[color-scheme='dark'] .dark\:bg-blue-800 {
	--tw-bg-opacity: 1;
	background-color: rgb(30 64 175 / var(--tw-bg-opacity));
}
@media (min-width: 868px) {
	.md\:relative {
		position: relative;
	}
	.md\:inset-x-0 {
		left: 0px;
		right: 0px;
	}
	.md\:top-0 {
		top: 0px;
	}
	.md\:mt-0 {
		margin-top: 0;
	}
	.md\:flex {
		display: flex;
	}
	.md\:hidden {
		display: none;
	}
	.md\:border-b {
		border-bottom-width: 1px;
	}
	.md\:border-solid {
		border-style: solid;
	}
	.md\:border-none {
		border-style: none;
	}
	.md\:border-primaryColor {
		border-color: rgba(var(--primary-color));
	}
	.md\:p-0 {
		padding: 0;
	}
}
@media (width>900px) {
	.\[\@media\(width\>900px\)\]\:flex-grow-0 {
		flex-grow: 0;
	}
}
@media (width>=328px) {
	.\[\@media\(width\>\=328px\)\]\:gap-4 {
		gap: 1rem;
	}
}
.small-cloud.svelte-14455k {
	animation: svelte-14455k-fastCloud 10s infinite linear;
}
@keyframes svelte-14455k-fastCloud {
	0% {
		transform: translate(-10px);
	}
	to {
		transform: translate(45px);
	}
}
.big-cloud.svelte-14455k {
	animation: svelte-14455k-slowCloud 15s infinite linear;
}
@keyframes svelte-14455k-slowCloud {
	0% {
		transform: translate(-40px);
	}
	to {
		transform: translate(30px);
	}
}
.star01.svelte-qw4cm3 {
	animation: svelte-qw4cm3-blink-animation 1s steps(2, start) infinite;
}
.star02.svelte-qw4cm3 {
	animation: svelte-qw4cm3-blink-animation 2s steps(5, start) infinite;
}
.star03.svelte-qw4cm3 {
	animation: svelte-qw4cm3-blink-animation 3s steps(8, start) infinite;
}
.star04.svelte-qw4cm3,
.star05.svelte-qw4cm3 {
	animation: svelte-qw4cm3-blink-animation 2s steps(5, start) infinite;
}
.star06.svelte-qw4cm3 {
	animation: svelte-qw4cm3-blink-animation 6s steps(2, start) infinite;
}
.star09.svelte-qw4cm3 {
	animation: svelte-qw4cm3-blink-animation 6s steps(12, start) infinite;
}
.star07.svelte-qw4cm3,
.star08.svelte-qw4cm3 {
	animation: svelte-qw4cm3-blink-animation 2s steps(5, start) infinite;
}
@keyframes svelte-qw4cm3-blink-animation {
	to {
		visibility: hidden;
	}
}
.main.svelte-pm5nbc.svelte-pm5nbc {
	left: clamp(0rem, calc(0.04rem + 0.09vw), 0.1rem);
	top: -35px;
	background-color: canvas;
}
.desert.svelte-pm5nbc.svelte-pm5nbc {
	left: -31px;
	top: -18px;
}
.dusk.svelte-pm5nbc.svelte-pm5nbc {
	left: -31px;
	top: 18px;
	background-color: rgba(var(--dusk-palette-color));
}
.nightSky.svelte-pm5nbc.svelte-pm5nbc {
	left: clamp(0.06rem, calc(0.03rem + 0.18vw), 0.17rem);
	top: clamp(2.19rem, calc(2.09rem + 0.46vw), 2.5rem);
	background-color: rgba(var(--nightSky-palette-color));
}
@media (hover: hover) {
	.main.svelte-pm5nbc.svelte-pm5nbc,
	.desert.svelte-pm5nbc.svelte-pm5nbc,
	.dusk.svelte-pm5nbc.svelte-pm5nbc,
	.nightSky.svelte-pm5nbc.svelte-pm5nbc {
		left: 1px;
		top: 1px;
	}
	.showPalettes.svelte-pm5nbc .main.svelte-pm5nbc {
		left: 0.125rem;
		top: -35px;
	}
	.showPalettes.svelte-pm5nbc .desert.svelte-pm5nbc {
		left: -31px;
		top: -18px;
	}
	.showPalettes.svelte-pm5nbc .dusk.svelte-pm5nbc {
		left: -31px;
		top: 1.25rem;
	}
	.showPalettes.svelte-pm5nbc .nightSky.svelte-pm5nbc {
		left: clamp(0.06rem, calc(0.03rem + 0.18vw), 0.17rem);
		top: clamp(2.19rem, calc(2.09rem + 0.46vw), 2.5rem);
	}
	.showPalettes.svelte-pm5nbc .main.svelte-pm5nbc,
	.showPalettes.svelte-pm5nbc .desert.svelte-pm5nbc,
	.showPalettes.svelte-pm5nbc .dusk.svelte-pm5nbc,
	.showPalettes.svelte-pm5nbc .nightSky.svelte-pm5nbc {
		transition-delay: 0ms;
		transition-duration: 0.25s;
		transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
}
.svg-size.svelte-dy8cmz {
	min-inline-size: clamp(2.25rem, calc(2.18rem + 0.36vw), 2.5rem);
	min-block-size: clamp(2.25rem, calc(2.18rem + 0.36vw), 2.5rem);
}
.svg-day.svelte-dy8cmz {
	transform: rotate(var(--svg-angle-day));
}
.svg-night.svelte-dy8cmz {
	transform: rotate(var(--svg-angle-night));
}
.logo.svelte-1lhb1rh .svelte-1lhb1rh:not([aria-hidden='true']) {
	display: inline-block;
	padding-left: 0.05rem;
	padding-right: 0.05rem;
	letter-spacing: clamp(0.15rem, calc(-0.07rem + 0.36vw), 0.5rem);
	--tw-shadow: var(--box-shadow-logo);
	--tw-shadow-colored: var(--box-shadow-logo);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
		var(--tw-shadow);
	transition-property: transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.2s;
}
.logo.svelte-1lhb1rh .svelte-1lhb1rh:not([aria-hidden='true']):hover {
	--tw-translate-y: -1.25rem;
	--tw-rotate: 20deg;
	--tw-scale-x: 2;
	--tw-scale-y: 2;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
		skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
		scaleY(var(--tw-scale-y));
	text-transform: uppercase;
}
.logo.svelte-1lhb1rh > span .svelte-1lhb1rh:nth-child(1) {
	margin-left: 0.1rem;
}
[color-scheme='dark'] .logo.svelte-1lhb1rh .svelte-1lhb1rh:not([aria-hidden='true'], a) {
	outline-style: solid;
	outline-width: 0.1px;
	outline-color: rgb(248 250 252 / var(--opacity-20-dark));
}
