---
title: Proxy Design Pattern
created: June 25th, 2024
updated:
description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque deserunt quidem natus ab possimus officiis esse tempora, accusantium aliquid eaque ea autem, dicta, reiciendis illo numquam reprehenderit laudantium id amet quae perspiciatis? Facilis fuga quos, ipsum illo, dicta, tempora obcaecati voluptas minus mollitia consequuntur sed? Laborum quam facere ducimus quisquam.
tags: ['javascript', 'python']
categories: ['design patterns', 'oop']
---
