@import './lib/styles/index.css';

@font-face {
	font-family: 'Alkes';
	src: url('./lib/styles/fonts/Alkes-Regular.woff') format('woff'),
		url('./lib/styles/fonts/Alkes-Regular.woff') format('woff');
}

/* TODO move these styles somewhere else */
html {
	font-family: IBM Plex Mono;
	scroll-behavior: smooth;
}

code {
	counter-reset: step;
	counter-increment: step 0;
}

.shiki {
	display: flex;

	border-radius: theme(borderRadius.md);
	padding: theme(padding.4) theme(padding.2);
	margin: theme(spacing.4) auto theme(spacing.8);
	/* box-shadow: var(--shadow-elevation-medium); */
	overflow-x: auto;
	inline-size: 100%;
}

.highlighted-lines {
	display: inline-block;

	background-color: rgb(51, 56, 66);
	/* inline-size: calc(var(--max-width-full) + var(--spacing-4)); */
	border-inline-start: theme(spacing.1) solid rgb(250, 155, 30);
	margin-inline-start: theme(spacing.1);
}

:root {
	/* CREDIT: https://www.joshwcomeau.com/shadow-palette/ */
	--shadow-color: 194deg 84% 18%;
	--shadow-elevation-medium: -1px 1px 1.6px hsl(var(--shadow-color) / 0.36),
		-3.3px 3.3px 5.3px -0.8px hsl(var(--shadow-color) / 0.36),
		-8.2px 8.2px 13px -1.7px hsl(var(--shadow-color) / 0.36),
		-20px 20px 31.8px -2.5px hsl(var(--shadow-color) / 0.36);
}

code .line::before {
	display: inline-block;
	content: counter(step);
	counter-increment: step;
	inline-size: theme(spacing.6);
	margin-inline-end: theme(spacing.6);
	text-align: end;
	font-variant-numeric: tabular-nums;
	color: rgb(255, 255, 255);
}
