@import './lib/styles/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* normalize */
@layer base {
	h1,
	h2,
	h3 {
		color: rgba(var(--text-color), var(--high-emphasis-text-dark, 1));
	}

	h1 {
		@apply text-fluid-1;
		font-weight: bold;
	}

	h2 {
		@apply text-fluid-2;
		font-weight: bold;
	}

	h3 {
		@apply text-fluid-3;
		font-weight: bold;
	}

	h4 {
		@apply text-fluid-4;
	}

	h5 {
		@apply text-fluid-5;
	}

	h6 {
		@apply text-fluid-6;
	}

	a {
		@apply rounded-lg
		no-underline
		outline-[0.1rem]
		outline-[transparent];
	}

	a:focus-visible,
	button:focus-visible {
		@apply outline-dashed;
	}

	a {
		@apply outline-[0.1rem]  
		outline-[canvasText];
	}
}
