@import './lib/styles/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* normalize */
@layer base {
	h1,
	h2,
	h3 {
		color: rgba(var(--text-color), var(--high-emphasis-text-dark, 1));
	}

	h1 {
		font-size: var(--fs-fluid-1);
	}

	h2 {
		font-size: var(--fs-fluid-2);
	}

	h3 {
		font-size: var(--fs-fluid-3);
	}

	h4 {
		font-size: var(--fs-fluid-4);
	}

	h5 {
		font-size: var(--fs-fluid-5);
	}

	h6 {
		font-size: var(--fs-fluid-6);
	}

	a {
		@apply rounded-lg
		no-underline
		outline-[0.1rem]
		outline-[transparent];
	}

	a:focus-visible,
	button:focus-visible {
		@apply outline-dashed;
	}

	a {
		@apply outline-[0.1rem]  
		outline-[canvasText];
	}
}
